<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: helvetica;
      }
      main {
        display: flex;
        flex-wrap: wrap;
      }
      .block {
        border: 1px solid #0003;
        padding: 36px 24px 24px 24px;
        margin: 24px;
        box-shadow: 0 2px 4px 2px rgb(0 0 0 / 10%);
        position: relative;
        display: flex;
        flex-basis: 600px;
        justify-content: space-between;
        column-gap: 12px;
        flex-grow: 1;
      }
      .full-width {
        flex-basis: 100%;
      }
      .lable {
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 12px;
        transform: translateY(-50%);
        background: white;
        display: inline-block;
        padding: 0 12px;
      }

      .value {
        font-size: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 12px;
        transform: translateY(50%);
        background: white;
        display: inline-block;
        padding: 0 12px;
      }

      .cards {
        display: flex;
        gap: 12px;
      }
      .card {
        width: 100px;
      }

      .card img {
        width: 100%;
      }

      .chips {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-content: flex-start;
        justify-content: center;
      }
      .chip {
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 0.8rem;
        display: flex;
        justify-items: center;
        align-items: center;
      }
      .chip > * {
        margin: auto;
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-content: flex-start;
        justify-content: flex-end;
      }
      .action {
        border: 2px solid #0007;
        background: #0002;
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 0.8rem;
        white-space: nowrap;
        text-align: center;
      }
    </style>
  </head>
  <body>

    <% data.each do |d| %>
      

      <% if d[:action] == "Add player" %>
        <%= "Added player #{d[:data][:player]}" %>
      <% elsif d[:action] == "Deal 2 cards to each player" %>
        <%= "Dealing 2 cards to each player" %>
      <% elsif d[:action] == "Show player cards" %>
        <%= "#{d[:data][:player]}'s cards" %>
        <br>
        <% d[:data][:cards][0].each do |card| %>
          <img src="<%= helper.get_card_image_path card %>" width="50px" />
        <% end %>
      <% elsif d[:action] == "Add small blind bet" %>
        <%= "Add small blind bet (#{d[:data][:player]})" %>
      <% elsif d[:action] == "Show chips" %>
        <%= "#{d[:data][:player]} is the #{d[:data][:extra]}" %>
        <br>  
        <% d[:data][:chips].each do |chip| %>
          <div class="chip"><div><%= chip %></div></div>
        <% end %>
      <% elsif d[:action] == "Add big blind bet" %>
        <%= "Add big blind bet (#{d[:data][:player]})" %>
      <% elsif d[:action] == "New round" %>
        <%= "New round: #{d[:data][:round]}" %>
      <% elsif d[:action] == "Show table cards" %>
        <% if d[:data][:cards].empty? %>
          No cards on the table yet
        <% else %>
          Cards on the table
          <br>
          <% d[:data][:cards].each do |card| %>
            <img src="<%= helper.get_card_image_path card %>" width="50px" />
          <% end %>
        <% end %>
      <% elsif d[:action] == "Player decision" %>
        <% if d[:data][:last_chip] == 0 %>
          <%= "#{d[:data][:player]} decided to #{d[:data][:decision]} and is now out of the game. Remaining: $#{d[:data][:wallet]}" %>
        <% else %>
          <%= "#{d[:data][:player]} decided to #{d[:data][:decision]} with #{d[:data][:last_chip]}: Total #{d[:data][:chips_sum]}, Remaining: $#{d[:data][:wallet]}" %>
          <div class="chips">
            <% d[:data][:all_chips].each do |chip| %>
              <div class="chip"><div><%= chip %></div></div>
            <% end %>
          </div>
        <% end %>
        <br>
      <% elsif d[:action] == "Out of money" %>
        <%= "#{d[:data][:player]} tried to bid more than the money left. Money left #{d[:data][:wallet]}" %>
        <div class="chips">
          <% d[:data][:all_chips].each do |chip| %>
            <div class="chip"><div><%= chip %></div></div>
          <% end %>
        </div>
      <% elsif d[:action] == "END OF GAME" %>
        END OF GAME
      <% elsif d[:action] == "Winner" %>
        <%= "Winner is #{d[:data][:player]} with a #{d[:data][:ranking_name]}: Value: #{d[:data][:ranking_value]}: Sum: #{d[:data][:sum]}" %>
      <% end %>
      <br>
    <% end %>


    <main>
      <article class="block full-width">
        <h2 class="lable">Table</h2>
        <div class="cards">
          <% result[:table].hand.get.each do |card| %>
            <img class="card" src="<%= helper.get_card_image_path card %>" />
          <% end %>
        </div>
      </article>
      <% result[:players].each do |player| %>
        <article class="block">
          <h2 class="lable"><%= player.name %></h2>
          <div class="cards">
            <% player.hand.get.each do |card| %>
              <img class="card" src="<%= helper.get_card_image_path card %>" />
            <% end %>
          </div>
          <div class="chips">
            <% player.chips.get.each do |chip| %>
              <div class="chip"><div><%= chip %></div></div>
            <% end %>
          </div>
          <div class="actions">
          <% player.actions.each do |action| %>
              <div class="action"><%= action %></div>
            <% end %>
            
          </div>
          <div class="value">$<%= player.chips.wallet %></div>
        </article>
      <% end %>
    </main>
  </body>
</html>
